@import "tailwindcss";
:root {
  --color-bg: #09090b;
  --color-text: #fafafa;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-feature-settings: "rlig" 1, "calt" 1;
}
